.board {
    height: 64vh;
    width: 64vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    box-sizing: border-box;
}

.square {
    width: 8vh;
    height: 8vh;
    margin: 0;
    padding: 0;
    background-color: rgba(135, 206, 235, 0.5);
    border: 1px solid black;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 2vh;
}

.active {
    width: 8vh;
    height: 8vh;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
    font-family: sans-serif;
    font-size: 2vh;
    font-weight: bold;
}

.legal {
    width: 8vh;
    height: 8vh;
    margin: 0;
    padding: 0;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: yellow;
}